body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px

}
.eyes{
    width:300px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.pupil{
  width:50px;
  height: 40px;
  background-color:black;
  border-radius: 50%;
  position: absolute;
  top:80%;
  left:80%;
  transform:translate(-50%,-50%);
  border: 8px solid burlywood ;

}